/* UNIVERSAL */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* MAIN */
.main {
    width: 100%;
    min-height: 600px;
}

/* NAVBAR */
.navbar {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 20px;
    position: fixed;
    top: 0px;
    z-index: 999;
    border-bottom: 1px solid black;
}

.navbar>input,
.navbar>label {
    display: none;
}

.navbar>section:first-child>img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.navbar>section:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar>section:first-child>div>h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.navbar>section:first-child>div>h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(149, 144, 144);
    margin-top: 2px;
    text-align: right;
    font-size: 11px;
}

.navbar>section:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navbar>section:last-child>a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid transparent;
}

.navbar>section:last-child>a:hover {
    border-bottom: 2px solid black;
}

.navbar>section:last-child>div {
    width: 250px;
    min-height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 10px;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgb(52, 51, 51);
    position: fixed;
    top: -300px;
}

.navbar>section:last-child>div>a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid transparent;
}

.navbar>section:last-child>a:nth-child(1):hover+div {
    left: 44%;
    top: 95px;
}


.navbar>section:last-child>a:nth-child(4):hover+div {
    left: 61%;
    top: 95px;
}


.navbar>section:last-child>a:nth-child(6):hover+div {
    left: 69%;
    top: 95px;
}

.navbar>section:last-child>a:nth-child(8):hover+div {
    top: 95px;
    left: 77%;
}


/* BOARD */
.board {
    margin-top: 95px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    background-color: rgb(121, 117, 117);
    margin-bottom: 50px;
    padding: 50px 0px;
    background-color: black;
}

.board>section:nth-child(1)>h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}


.board>section:nth-child(1)>p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}

.board>section:nth-child(2) {
    background-color: white;
    width: 300px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.board>section:nth-child(2)>h2 {
    margin-bottom: 10px;
}

.board>section:nth-child(2)>p {
    margin-bottom: 20px;
}


.board>section:nth-child(2)>button {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    font-size: 18px;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
}

/* LABOUR */
.labour {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;
    padding: 50px;
    background-color: gray;
    margin-bottom: 50px;
}

.labour>section>div {
    margin-bottom: 30px;
}

.labour>section>div>h1 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 5px;
}

.labour>section>div>p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 5px;
}

.labour>section>div>span {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 5px;
}

.labour>img {
    width: 600px;
    height: 550px;
}


/* OUTLET */
.outlet {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outlet>section {
    width: 50%;
    text-align: center;
    height: 300px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 80px;
}

.outlet>section>h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

.outlet>section>p {
    font-weight: bold;
    margin: 15px;
}

.outlet>section>a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 2px;
}

.outlet>section:first-child {
    background-color: rgb(41, 41, 41);
}

.outlet>section:last-child {
    background-color: rgb(15, 14, 14);
}

/* LETTER */
.letter {
    width: 70%;
    background-color: gray;
    padding: 50px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.letter>h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
}

.letter>#email,
.letter>select {
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.letter>#checkbox {
    width: 16px;
    height: 16px;
}

.letter>label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.letter>label>a {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black;
    line-height: 30px;
}

.letter>button {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.5s;
}

.letter>button:hover {
    background-color: white;
    color: black;
}


/* FOOTER */
.footer {
    background-color: darkslategrey;
    padding: 30px;
    margin-top: 50px;
}

.footer>section:first-child {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer>section:first-child a {
    color: white;
    text-decoration: none;
}

.footer>section:first-child a:hover {
    border-bottom: 1px solid white;
}

.footer>section:nth-child(2) {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.footer>section:nth-child(2)>i {
    font-size: 20px;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer>section:nth-child(2)>i:hover {
    background-color: black;
    color: white;
}

.footer>section:nth-child(3) {
    margin-top: 30px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    width: 300px;
    padding: 10px 0px;
    border-radius: 10px;
}

@media only screen and (min-width:300px) and (max-width:800px) {

    /* NAVBAR    */
    .navbar {
        padding: 15px 10px;
        justify-content: space-between;
    }

    .navbar>label {
        display: block;
    }

    .navbar>label>i {
        font-size: 25px;
        font-weight: bold;
    }

    .navbar>section:last-child {
        flex-direction: column;
        position: fixed;
        gap: 20px;
        top: 71px;
        left: -350px;
        background-color: whitesmoke;
        width: 150px;
        height: 70vh;
        transition: 1s;
    }

    .navbar>input:checked+section {
        left: 0px;
    }

    .navbar>section:last-child>div {
        padding: 10px;
    }

    .navbar>section:last-child>a:nth-child(1):hover+div {
        left: 37%;
        top: 130px;
    }

    .navbar>section:last-child>a:nth-child(4):hover+div {
        left: 37%;
        top: 220px;
    }

    .navbar>section:last-child>a:nth-child(6):hover+div {
        left: 37%;
        top: 265px;
    }

    .navbar>section:last-child>a:nth-child(8):hover+div {
        left: 37%;
        top: 310px;
    }

    .navbar>section:first-child>img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .navbar>section:first-child>div>h1 {
        font-size: 25px;
    }

    .navbar>section:first-child>div>h6 {
        font-size: 8px;
    }


    /* BOARD */
    .board {
        margin-top: 70px;
        justify-content: center;
        align-items: start;
        gap: 10px;
        flex-direction: column;
        margin-bottom: 20px;
        padding: 10px;
    }

    .board>section:nth-child(1)>h1 {
        font-size: 22px;
        margin-bottom: 5px;
    }


    .board>section:nth-child(1)>p {
        font-size: 17px;
    }

    .board>section:nth-child(2)>h2 {
        margin-bottom: 10px;
    }

    .board>section:nth-child(2)>p {
        margin-bottom: 20px;
    }

    /* LABOUR */
    .labour {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .labour>section>div {
        margin-bottom: 10px;
    }

    .labour>section>div>h1 {
        font-size: 22px;
    }

    .labour>section>div>p {
        font-size: 15px;
    }

    .labour>section>div>span {
        font-size: 17px;
    }

    .labour>img {
        width: 300px;
        height: 350px;
    }

    /* OUTLET */
    .outlet {
        flex-direction: column;
    }

    .outlet>section {
        width: 100%;
        height: 250px;
        padding: 10px;
    }

    .outlet>section>h1 {
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .outlet>section>p {
        margin: 15px;
        font-weight: lighter;
    }


    /* LETTER */
    .letter {
        width: 100%;
        padding: 20px;
        margin-top: 30px;
    }

    .letter>h1 {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .letter>#email,
    .letter>select {
        width: 90%;
    }

    .letter>label {
        font-weight: lighter;
    }

    .letter>label>a {
        line-height: 25px;
    }


    /* FOOTER */
    .footer {
        margin-top: 30px;
    }

    .footer>section:first-child {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer>section:nth-child(2) {
        margin-top: 30px;
        gap: 10px;
        margin-bottom: 30px;
    }

    .footer>section:nth-child(3) {
        margin-top: 30px;
        width: 250px;
    }
}

@media only screen and (min-width:400px) and (max-width:600px) {
    .navbar {
        padding: 15px 30px;
    }

    .navbar>section:first-child>img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .navbar>section:first-child>div>h1 {
        font-size: 30px;
    }

    .navbar>section:first-child>div>h6 {
        font-size: 11px;
    }

    .navbar>section:last-child {
        top: 81px;
        width: 230px;
    }

    .navbar>section:last-child>a:nth-child(1):hover+div {
        left: 37%;
    }

    .navbar>section:last-child>a:nth-child(4):hover+div {
        left: 37%;
    }

    .navbar>section:last-child>a:nth-child(6):hover+div {
        left: 37%;
    }

    .navbar>section:last-child>a:nth-child(8):hover+div {
        left: 37%;
    }


    /* BOARD */
    .board {
        gap: 30px;
        padding: 30px;
    }

    /* LABOUR */
    .labour {
        padding: 30px;
    }

    .labour>img {
        margin: auto;
    }

}

@media only screen and (min-width:601px) and (max-width:800px) {
    .navbar {
        padding: 15px 40px;
    }

    .navbar>section:first-child>img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .navbar>section:first-child>div>h1 {
        font-size: 30px;
    }

    .navbar>section:first-child>div>h6 {
        font-size: 11px;
    }

    .navbar>section:last-child {
        left: -405px;
    }

    .navbar>section:last-child {
        top: 81px;
        width: 300px;
    }



    /* BOARD */
    .board {
        gap: 30px;
        padding: 30px;
    }

    .board>section:nth-child(1)>h1 {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .board>section:nth-child(1)>p {
        font-size: 20px;
    }


    /* LABOUR */
    .labour {
        padding: 50px;
    }

    .labour>img {
        margin: auto;
    }


    .letter {
        width: 85%;
        padding: 20px;
        margin-top: 30px;
    }

    .letter>h1 {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .letter>#email,
    .letter>select {
        width: 40%;
    }

    .letter>label {
        font-weight: lighter;
    }

    .letter>label>a {
        line-height: 25px;
    }

    .footer>section:first-child {
        flex-direction: row;
        gap: 10px;
        text-align: left;
    }

}

@media only screen and (min-width:801px) and (max-width:1000px) {

    /* NAVBAR */
    .navbar>section:first-child>img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .navbar>section:first-child>div>h1 {
        font-size: 30px;
    }

    .navbar>section:first-child>div>h6 {
        font-size: 10px;
    }

    .navbar>section:last-child {
        gap: 20px;
    }

    .navbar>section:last-child>a {
        font-size: 18px;
    }

    .navbar>section:last-child>a:nth-child(1):hover+div {
        left: 35%;
        top: 90px;
    }

    .navbar>section:last-child>a:nth-child(4):hover+div {
        left: 50%;
        top: 90px;
    }

    .navbar>section:last-child>a:nth-child(6):hover+div {
        left: 60%;
        top: 90px;
    }

    .navbar>section:last-child>a:nth-child(8):hover+div {
        left: 70%;
        top: 90px;
    }


    /* BOARD */
    .board {
        margin-top: 90px;
        justify-content: center;
        gap:20px;
        padding: 50px 20px;
    }

    /* LABOUR */
    .labour {
        gap: 10px;
        padding: 30px;
        margin-bottom: 10px;
    }

    .labour>section>div {
        margin-bottom: 10px;
    }

    .labour>section>div>h1 {
        font-size: 22px;
    }

    .labour>section>div>p {
        font-size: 15px;
    }

    .labour>section>div>span {
        font-size: 17px;
    }

    .labour>img {
        width: 300px;
        height: 350px;
    }


    /* OUTLET */
    .outlet>section {
        padding: 60px;
    }

    .outlet>section>h1 {
        font-size: 28px;
        margin-top: 20px;
    }

    /* LETTER */
    .letter {
        width: 90%;
    }

}


@media only screen and (min-width:1001px) and (max-width:1050px) {

    /* OUTLET */
    .outlet>section {
        padding: 80px;
    }
}